/*RESET CSS */

* {
    margin: 0;
    padding: 0;
}
/* ESTLIZAÇÃO DO FORM */

form h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    height: 70px;
    background-color: #3e0478;
    text-align: center;
    padding-top: 15px;
    text-transform: uppercase;
}

form {
    width: 400px;
    height: 300px;
    border: 3px solid #000;
    border-radius: 5px;
    margin: 130px auto;
    background-color: #fff;
}

form {
    text-align: center;
}
/* ESTILIZAÇÃO DOS INPUTS */

#email {
    margin-top: 25px;
    margin-bottom: 7px;
}

form input {
    height: 30px;
    width: 230px;
    border-radius: 5px;
    border: 3px solid indigo;
}

form input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}
/* ESTILIZAÇÃO DO BUTTON */

form button {
    cursor: pointer;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #000;
    margin-bottom: 6px;
    margin-top: 8px;
    padding: 1px;
    font-family: 'Montserrat', sans-serif;
    background: indigo;
    font-weight: 700;
    letter-spacing: 2.0px;
    text-transform: uppercase;
}

form button:hover {
    border: 2px solid indigo;
    background: #fff;
    width: 305px;
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4)
}
